.hero_slide {
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us{
    padding: 2rem;
}

.about-us__left{
    padding: 2rem 0;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us__service{
    padding: 2rem;
    background: var(--btn-black);
}
.about-us__service-title{
    text-align: center;
}
.about-us__service-item{
    max-height: 350px;
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 12px;
}

/* query on mobile device */
@media (max-width: 768px) {
    .about-us__service-title h1{
        font-size: 2rem;
    }
}

/* zoom item when hover */
.about-us__service-item:hover{
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

